@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main {
  width: 70vw;
  margin: 0 auto;
}
/* Header Section Styles Start */
.main-header {
  background-image: url(../images/banner/banner1.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.header {
  width: 70vw;
  margin: 0 auto;
  display: flex;
  justify-content: right;
  text-align: right;
  padding: 216px 0;
}
.header-item-title {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 65px;
  margin-bottom: 25px;
}
.header-item-description {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 35px;
}
.primary-btn {
  background: #f15b22;
  border-radius: 5px;
  height: 64px;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  padding: 20px 25px;
  color: #ffffff;
  border: none;
  cursor: pointer;
}
/* Header Section Styles end */

/* failures Section Start */
.failures-all {
  margin-top: 130px;
  margin-bottom: 130px;
}
.failures-items {
  display: flex;
  gap: 110px;
  align-items: center;
}
.failures-title {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  color: #151414;
  margin-bottom: 25px;
}
.failures-para {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 20px;
  color: #444343;
}
.list-img {
  font-size: 16px;
  width: 16px;
}
.list-item-flex {
  display: flex;
  gap: 10px;
}
.list-item {
  list-style: none;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #444343;
  margin-bottom: 10px;
}
/* failures Section end */

/* My Plans Section Start */
.plans {
  text-align: center;
  margin-bottom: 130px;
}
.plan-item img {
  margin-bottom: 20px;
}
.plan-items {
  display: flex;
  justify-content: space-between;
}
.plans-title {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  color: #151414;
  margin-bottom: 55px;
}
.item-title {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
  color: #151414;
  margin-bottom: 16px;
}
.item-para {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  color: #737272;
}
/* My Plans Section end */

/* Call section start */
.call {
  background-image: url(../images/watch.png),
    linear-gradient(90deg, #573dec 0%, rgba(241, 91, 34, 0) 100%);
  background-blend-mode: hard-light;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 130px;
  border-radius: 8px;
}
.call-all {
  padding: 60px 65px;
}
.call-title {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  color: #ffffff;
  margin-bottom: 24px;
}
.call-btn {
  background-color: #ffffff;
  color: #f15b22;
}
/* Call section end */
/* footer section start */
.footer {
  background: #151414;
}
.footer-items {
  padding: 130px 0;
  display: flex;
  justify-content: space-between;
}
.footer-item01 img {
  display: inline-block;
  margin-right: 16px;
  cursor: pointer;
}
.footer-title {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  color: #f8f8f8;
  margin-bottom: 16px;
}
.footer-para {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
  margin-bottom: 25px;
}
.footer-item02 input {
  height: 64px;
  padding: 20px;
  border: 1px solid #ffffff;
  border-radius: 8px;
  background-color: transparent;
  width: 330px;
  margin-bottom: 16px;
}
.item02-title {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  color: #ffffff;
  margin-bottom: 30px;
}
/* footer section  end */
